CONFIG_IDF_TARGET="esp32s3"
CONFIG_FREERTOS_HZ=1000

# PSRAM — required for LVGL framebuffer at 410×502 RGB565
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# Default flash size on this board is 16 MB
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# LVGL config
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_USE_PERF_MONITOR=n
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_48=y

# Stack
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
